body{
	background-color: black;
}



h1{
	color: white;
	font-style: italic;
	text-align: center;
	letter-spacing: 1px;
	font-size: 25px;
}
div{
	text-align-last: center;
}
h3{
	color: darkcyan;
	text-align-last: center;
	font-size: 1.5rem;
	font-family: andalus;
	letter-spacing: 2px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: white;
  width: 20px;
  height: 20px;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
 } 
 input[type="checkbox"]:checked {
  background-color: #4CAF50;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  display: block;
  color: white;
  font-size: 16px;
  line-height: 7px;
  text-align: center;
}

input[type="checkbox"]:hover {
  border-color: #3e8e41;
}

input[type="checkbox"]:focus {
  border-color: #3e8e41;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

label[for="dispenserCheckbox"] {
  display: inline-block;
  vertical-align: middle;
}

input{
	background-color: black;
	border-radius: 40px;
	margin-top: 1rem;
	width: 55%;
	color:white ;
	border: solid 2px darkcyan ;
	padding: 5px;
	font-size: 17px;
}
input:active{
	transition: border 2s;
	border: darkcyan;
}
#pp{
	margin-top: -2.6rem;
	margin-left: 2rem;
	color: darkcyan;
}
p{
	color: white;
	margin-left:-5rem;
	margin-top: 1rem;
}
input[type="button"]{
	background-color: black;
	border-radius: 40px;
	margin-top: 1rem;
	width: 30%;
	color:white ;
	border: solid 2px darkgreen ;
	padding: 5px;
}
