body{
	background-color: black;
}

h1{
       color: white;
       font-style: italic;
       text-align: center;
       letter-spacing: 1px;
       font-size: 25px;
}
div{
	text-align-last: center;
}
h3{
	color: darkcyan;
	text-align-last: center;
	font-size: 1.5rem;
	font-family: andalus;
	letter-spacing: 2px;
}
#pp{
	margin-top: -2.2rem;
	margin-left: 2rem;
	color: darkcyan;
}
p{
	color: white;
	margin-left: -5rem;
}
input{
	background-color: black;
	border-radius: 40px;
	margin-top: 1rem;
	width: 35%;
	color:white ;
	border: solid 2px darkcyan ;
	padding: 5px;
}
input:active{
	transition: border 2s;
	border: darkcyan;
}
button{
	background-color: black;
	border-radius: 40px;
	margin-top: 1rem;
	text-align-last: center;
	width: 22%;
	color:white ;
	border: solid 2px darkgreen ;
	padding: 5px;
}
