body{
	background:linear-gradient(black,45%,darkcyan);
}
img{
    border-radius: 50px;
    margin-left: 45%;
}
h1{
    color: white;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: 5px 5px 10px;
    
}
@keyframes example {
  from {background-color: darkcyan;  }
  to {background-color: black;  }
}
@keyframes examples {
  from {color: black;  }
  to {color: darkcyan;  }
}


h3{
   color: darkcyan;
   text-align-last: center;
   font-size: 1.5rem;
   font-family: andalus;
   letter-spacing: 2px;
   
}

div{
    border: solid 2px white;
    padding: 20px;
    margin-top: 2rem;
    width: 55%;
    text-align-last: center;
    border-radius: 50px;
    background-color: darkcyan;
    text-shadow: 5px 5px 7px ;
    box-shadow: 10px 11px 7px ;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


a{
    color:darkcyan ;
    font-size: 17px;
    font-weight: bold;
    font-family: andalus;
    letter-spacing: 2px;
    text-decoration: none;
    animation-name: examples;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.a11{
	width: 5%;
	height: 10%;
	background-color: transparent;
}
p{
	color: white;
	text-align-last: center;
	font-size: 20px;
	letter-spacing: 2px;
}
#yy{
	color: white;
    text-decoration: double underline red;
    font-size: 13px;
}





